<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdd.ceshi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 管理蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 使用蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".realm.MainActivityReal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".OrderCeshi"></activity> -->
        <!-- <activity android:name=".ceshi1"></activity> -->
        <!-- <activity android:name=".sahre"></activity> -->
        <!-- <activity android:name=".CityACtivity" /> -->
        <activity android:name=".CitySelect1Activity" />
        <!-- <activity android:name=".Main2Activity"></activity> -->
        <!-- <activity android:name=".Imageput"></activity> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pdd.ceshi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- <activity android:name=".downloadmanager.DownloadActivity"></activity> -->
        <!-- <activity android:name=".permissionActivity"></activity> -->
        <!-- <activity android:name=".CeshiYzm"></activity> -->
        <!-- <activity android:name=".MyCenter"></activity> -->
        <!-- <activity android:name=".downloadmanager.Upload"></activity> -->


        <!-- <activity android:name=".MyOwnDialogActivity"/> -->
        <!-- <activity android:name=".bledemo.BleActivity"></activity> -->
        <!-- <activity android:name=".ScanActivity"></activity> -->
        <!-- <activity android:name=".UrlDopostActivity"></activity> -->
        <!-- <activity android:name=".upuserInfomationActivity" /> -->
        <!-- <activity android:name=".seekbardemo.SeekActivity"></activity> -->
        <!-- <activity android:name=".battery.BatteryActivity"></activity> -->
        <!-- <activity android:name=".waveviewpager.waveActivity"></activity> -->
        <!-- <activity android:name=".paomadengview.MaActivity"></activity> -->
        <!-- <activity android:name=".paomadengview.HoriActivity"></activity> -->
        <activity android:name=".gameDemo.GameActivity" />
        <!-- <activity android:name=".wave.WaveActivity"></activity> -->
        <!-- <activity android:name=".MesurreActivity"></activity> -->
        <!-- <activity android:name=".view.CountDownActivity"></activity> -->
        <!-- <activity android:name=".dbmanager.RecordActivity"></activity> -->
        <activity android:name=".realm.RealmActivity" />
        <!--<activity android:name=".realm.MainActivityReal" />-->
        <activity android:name=".realm.DogListActivity" />
        <activity android:name=".realm.QueryActivity" />
        <activity android:name=".realm.AllDogActivity" />
        <activity android:name=".realm.UpdateActivity" />
        <activity android:name=".realm.ConditionQueryActivity" />
        <activity android:name=".realm.OtherQueryActivity" />
        <activity android:name=".realm.AsyncActivity" />
        <activity android:name=".realm.AddDeleteActivity" />
        <activity android:name=".realm.AsyncQueryActivity" />
        <activity android:name=".realm.UpdateCatActivity"></activity>
    </application>

</manifest>